In [7]:
import pandas as pd

In [11]:
FOLDER_NAME = 'Data'

In [12]:
menu_df = pd.read_csv(FOLDER_NAME + '/' + 'menu_analysis.csv')
print(menu_df.head())

     Group Item_Number Ingredient  Price  Cost  Points Earn  Points Redeem
0  Primary      Item_1    Chicken    6.5   2.0         65.0          400.0
1  Primary      Item_2       Beef    8.0   2.5         80.0          500.0
2  Primary      Item_3     Shrimp    7.5   3.0         75.0          600.0
3  Primary      Item_4       Tofu    5.5   1.0         55.0          200.0
4  Primary      Item_5  Chickpeas    4.5   0.5         45.0          100.0

In [13]:
customers_df = pd.read_csv(FOLDER_NAME + '/' + 'customers.csv')
print(customers_df.head())

  Customer_ID First_Name Last_Name                       Email  \
0    CUST0000      Jason     Silva         wtorres@example.com
1    CUST0001     Kelsey   Griffin  stephaniecraig@example.org
2    CUST0002   Jennifer    Miller     elizabeth98@example.com
3    CUST0003      Kevin     Smith          lori60@example.net
4    CUST0004     Robert    Murphy         wmiller@example.org

                   Phone         DOB             Gender  \
0      549.344.4954x3469  1971-02-01             Female
1  001-556-842-0852x5486  1989-12-05             Female
2     (662)296-7078x3636  1997-10-16               Male
3          (974)298-9536  1981-12-02               Male
4    (279)595-9855x12557  1964-02-24  Prefer not to say

                          Address              City  ST  Zip_Code  \
0              291 Gonzalez Shoal        Welchmouth  MN     55064
1              330 Richard Shores  Lake Paulchester  MN     55489
2  273 Kimberly Islands Suite 801       Wilsonville  MN     55257
3    17190 Nicole Ports Suite 554        Walkerfort  MN     55254
4                7914 Debra Court        Denisetown  MN     56585

  Member_Since  Newsletter_Subscription  Feedback_Provided  \
0   2023-11-17                    False               True
1   2020-12-24                    False              False
2   2020-01-21                     True               True
3   2020-06-04                    False               True
4   2023-05-14                     True              False

  Communication_Preferences  Data_Sharing_Consent
0                       NaN                  True
1                     Email                  True
2                       NaN                  True
3                       NaN                  True
4                       NaN                  True

In [14]:
stores_df = pd.read_csv(FOLDER_NAME + '/' + 'stores.csv')
print(stores_df.head())

  Store_Name Store_Number                      Address         City State  \
0    Store_1        STR_1            80645 Jesse Plain     St. Paul    MN
1    Store_2        STR_2   7585 Rojas Canyon Apt. 693     St. Paul    MN
2    Store_3        STR_3   2279 Young Harbor Apt. 146  Minneapolis    MN
3    Store_4        STR_4  03518 Megan River Suite 461    Rochester    MN
4    Store_5        STR_5            91129 Gordon Isle     Plymouth    MN

     Zip
0  61333
1  22696
2  98151
3  13864
4  47642

In [15]:
structure_df = pd.read_csv(FOLDER_NAME + '/' + 'structure.csv')
structure_df

   Item_Num  Order_Prob
0    Item_1        0.25
1    Item_2        0.15
2    Item_3        0.07
3    Item_4        0.08
4    Item_5        0.10
5    Item_6        0.09
6    Item_7        0.07
7    Item_8        0.15
8   Item_35        0.01
9   Item_36        0.01
10  Item_37        0.01
11  Item_38        0.01

In [16]:
size_df = pd.read_csv(FOLDER_NAME + '/' + 'order_size.csv')
print(size_df)

   Order_size  Order_Size_Prob
0           1             0.25
1           2             0.35
2           3             0.12
3           4             0.15
4           5             0.05
5           6             0.05
6           7             0.02
7           8             0.01

In [17]:
transactions_df = pd.read_csv(FOLDER_NAME + '/' + 'transactions.csv')
transactions_df.head()

,Order_Number,Transaction_Date,Transaction_Time,Store_Number,Customer_ID,Item_Number
0,7830,2023-12-18,09:19:10,STR_3,CUST0024,Item_1
1,5582,2023-10-05,20:36:56,STR_4,CUST0045,Item_7
2,5582,2023-10-05,20:36:56,STR_4,CUST0045,Item_5
3,6591,2024-04-20,02:13:48,STR_4,CUST0005,Item_1
4,6591,2024-04-20,02:13:48,STR_4,CUST0005,Item_1